---
layout: page
title: "About"
description: "Hey, this is Miyunluo."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected>  英语 English</option>
    <option value="1" > 中文 Chinese </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
    <p>
        桃李春风一杯酒<br>
        江湖夜雨十年灯
    </p>
    </blockquote>

    <p>Hey，我是<strong>罗煜东</strong>，SJTU &amp; CS在读</p>
    <p>Member of <a href = "http://bcmi.sjtu.edu.cn">BCMI</a>. Supervised by Prof. <a href = "http://bcmi.sjtu.edu.cn/~blu/">Baoliang Lu</a>.
    </p>
    <p>Deadline是第一生产力。</p>
    <br>
    <br>
    <br>
    <br>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
    <p>
        Love code and life
    </p>
    </blockquote>

    <h2>About me</h2>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <p>
        &nbsp &nbsp &nbsp I am <strong>Yudong Luo</strong>, a senior student in <strong>Department of Computer Science and Engineering</strong> at Shanghai Jiao Tong University <strong>(SJTU)</strong>. I am expected to receive my bachelor's degree in June 2018.<br>
        &nbsp &nbsp &nbsp As a sophomore, I entered Prof. <a href = "http://nsec.sjtu.edu.cn/~hjzhu/">Haojin Zhu</a>'s group and participated in servel CTF competitions working with <a href = "http://pwnzen.com/team.html">PanGu Team</a> at <a href = "http://pwnzen.com/about.html">PWNZEN INFOTECH LTD.</a> During summer, I worked with Prof. Ruonan Rao's group on Word Segmentation & Data Retrieval and wrote all the Lucene related code. As a senior student, I joined Prof. <a href = "http://bcmi.sjtu.edu.cn/~blu/">Baoliang Lu</a>'s group and did research on machine learning, EEG-based Emotion Recognition.
    </p>

    <p>
        <!-- <strong>Resume</strong>:&nbsp CV (update: Mar. 2 2017)<br> -->
        <strong>Email</strong>: i@miyunluo.com<br>
        <!--<strong>Tel</strong>: (+86) 182-0181-7587 -->
    </p>

    <h2>Education</h2>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Bachelor of Computer Science</h4>
    <p>
        Sep. 2014-Jun. 2018(expected)<br>
        Department of Computer Science and Engineering<br>
        School of Electronics, Information and Electrical Engineering (SEIEE)<br>
        Shanghai Jiao Tong University (SJTU), China.<br>
    </p>

    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Research Assistant</h4>
    <p>
        July. 2017- Sep. 2017<br>
        Artificial Intelligence Lab3<br>
        School of Computing<br>
        National University of Singapore<br>
    </p>
    <!--
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>CS Courses</h4>
    <p>
        Operating System<br>
        Project Workshop of Operating System: <br>
        Computer Organization Lab: <br>
        Embedded System and Microcomputer Principles: <br>
        Compiler Principles: <br>
        Computer Graphics: <br>
        Software Engineering: <br>
        Project Workshop of Software Engineering: <br>
        Algorithm and Complexity: <br>
        Parallel and Distributed Programming: <br>
        Computer Architecture:
    </p>
    -->
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Skills</h4>
    <p>
        <li><strong>Programming language</strong></li>
        &nbsp &nbsp C/C++, Python, Java, HTML, JavaScript
        <li><strong>Tools</strong></li>
        &nbsp &nbsp MATLAB, LATEX
    </p>


    <h2>Projects</h2>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Automatic Video Portrait Segmentation</h4>
    Supervised by Prof. <a href = "http://www.cs.sjtu.edu.cn/en/PeopleDetail.aspx?id=149">Bin Shen</a>
    <li>Wrote a video portrait generator in Matlab and the model was trained using Convolutional Neural Network (CNN) powered by Caffe framework.</li>
    <li>Studied the structure of deep neural network and the detection technique of face tracker.</li>
    <li>Wrote and maintained documents for all phases, including Plan, Define, Design, Build, and Test&Deploy.</li>
    <strong>Demo</strong>: <br>
    <img src = "/img/about-portraitdemo0.gif" width="252" height="141" ALIGN=left>
    <img src = "/img/about-portraitdemo1.gif" width="252" height="141" ALIGN=left>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Parallel and Distributed Programming [<a href = "https://github.com/miyunluo/SJTU-course-project/tree/master/CS433-Parallel_Programming">Link</a>]</h4>
    Supervised by Prof. <a href = "http://www.cs.sjtu.edu.cn/PeopleDetail.aspx?id=105">Qianni Deng</a>
    <li>Paralleled the dijkstra algorithm, nbody problem using MPI and OpenMP, paralleled matrix transposition using CUDA.</li>
    <li>Installed hadoop and implemented map-reduce in pseudo-distributed mode as well as fully-disributed mode.</li>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Compiler from Small-C to MIPS [<a href = "https://github.com/miyunluo/SmallC_Compiler">Link</a>]</h4>
    Supervised by Prof. <a href = "http://www.cs.sjtu.edu.cn/~jiangli/">Li Jiang</a>
    <li>Implemented a simplified compiler frontend, including a lexical analyzer and a syntax analyzer, for Small-C, which is a C-like language containing a subset of the C programming language.</li>
    <li>Developed a machine-code generator to translate the intermediate representation, which is produced by my intermediate-code generation after optimization, into MIPS instruction.​</li>
    <img src="/img/about-compiler.png"  width="300" height="420">
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Optimizing the Performance of a Pipelined Processor [<a href ="https://github.com/miyunluo/SJTU-course-project/tree/master/CS359-Computer_Architecture">Link</a>]</h4>
    Supervised by Dr. <a href = "http://www.cs.sjtu.edu.cn/~shen-yy/">Yanyan Shen</a>
    <li>Designed a piplined Y86 processor consisting of three parts, linked list relative function, extension of the SEQ processor and fast ncopy function.</li>
    <li>Familiarized with .ys file and Y86 tools, optimized the Y86 benchmark program and the processor design.</li>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Big Data Retrieval with Lucene [<a href = "https://github.com/miyunluo/Lucene6.1-demo">Link</a>]</h4>
    Supervised by Prof. Ruonan Rao
    <li>Got the necessary information from Internet with python web spider powerd by scrapy framework.</li>
    <li>Studied the required technique for word segmentation and the structure of Lucene index document, installed fully-distributed hadoop system for further development.</li>
    <li>Implemented a GUI software in Java to search relative documents for arbitrary time period.</li>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>       
    <h4>Easy Flash Tool for Cortex M4 TI TM4C1294 Board [<a href = "https://github.com/miyunluo/CortexM4-flashtool">Link</a>]</h4>
    Supervised by Wei Liu
    <li>Sniffed the protocol between the experiment board and the official flash software, wrote my easy flash tool GUI in Python.</li>
    <li>Developed a new bootloader to replace the default bootloader on the experiment board.</li>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>   
    <h4>Android Process Tree & Android Scheduler [<a href = "https://github.com/miyunluo/SJTU-course-project/tree/master/CS307-Operating_System">Link</a>]</h4>
    Supervised by Prof. <a href = "http://www.cs.sjtu.edu.cn/~fwu/index.html">Fan Wu</a>
    <li>Installed an Android Virtual Device and wrote a new system call named ptree, analogous to the ps command in Linux OS.</li>
    <li>Simulated a solution for the IPC problem using Burger Buddies Problem without any deadlock.</li>
    <li>Read and Modified the Linux kernel file to change the process scheduler and tested their performances.</li>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Advanced MIPS CPU Simulator with Multi-Cycle and Pipeline</h4>
    ​Supervised by Prof. <a href = "http://nsec.sjtu.edu.cn/~hjzhu/">Haojin Zhu</a>
    <li>​​​Developed the simulator of each components used in a MIPS CPU like instruction memory, data memory, ALU and ALU Control.</li>
    <li>Connected all components into an advanced MIPS CPU simulator with multi-Cycle and pipeline.</li>
    <li>Implemented the multi-cycle CPU Simulator on a Xilinx Experiment Board in Verilog HDL.</li>

    <h2>Award</h2>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <li>2017 Mathematical Contest In Modeling (MCM) Meritorious Winner.</li>


    <h2>Hobbies</h2>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
    <h4>Guitar</h4>
    <p>
        I love guitar and my favorite solo master is Kotaro Oshio.
    </p>
    <h4>Sports</h4>
    <p>
        I enjoy playing ping-pong.<br>
        I used to play it every week when I was in middle school.
    </p>
    <h4>Reading</h4>
    <p>
        I love reading and prefer prose. Reading builds up my mind.<br>
        I think Guoping Zhou's book is intelligent and attractive.
    </p>


    <p style="text-align:right;">
    -- miyunluo
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 1){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
